# Environment
NODE_ENV=development
WEBSITE_URL=http://localhost:3000

# Better Auth - Configuration
BETTER_AUTH_SECRET=

# Database (Turso)
DATABASE_URL=
DATABASE_AUTH_TOKEN=

# Gateway Configuration
AI_GATEWAY_BASE_URL=
AI_GATEWAY_API_KEY=

# Payments and tracking
AUTUMN_SECRET_KEY=
